@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400;600&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

html{
    height: 100%;
}

body{
    position:relative;
}

a{
    color: #a7883a;
}

a:hover{
    color: #CDBF9D;
}
.navbar{
    background-color: #312530;
    height: 8vh;
}

.navbar-brand{
    font-family: limelight;
    color: #a7883a !important;
    font-size: 6vh;
}

.navbar-brand:hover{
    color: #CDBF9D !important;
}

.nav-item a{
    font-family: "encode sans";
    color: #CDBF9D !important;
    opacity: 0.5;
    font-weight: 400;
    font-size: 3vh;
}

.nav-item a:hover{
    color: #a7883a !important;
    opacity: 1;
}

.dropdown-menu{
    background-color: #6d5e6b;
    border-radius: 0;
}

.dropdown-menu a{
    opacity: 1 !important;
}

.dropdown-menu a:hover{
    background-color: #312530;
}

#first{
    color: white;
    background-color: #312530;
    font-family: limelight;
    height: 100vh;
    padding-top: 18vh;
    text-align: center;
    background-image: url(../images/ny2.png);
    background-repeat: repeat-x;
    background-position: bottom;
}


#first h1{
    font-size: 16vh;
    color: rgba(222, 167, 28, 0.6);
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-30deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    -webkit-background-size: 700px;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 249, 236, 0.3);
}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}

  

#first h2{
    font-family: "encode sans";
    font-size: 5.6vh;
    opacity: 0.6;
    padding-top: 3vh;
    font-weight: 300;
    color: #CDBF9D;
}

#start a{
    font-size: 4.5vh;
    color: #ac9457 !important;
    opacity: 1;
    text-decoration: none;
    margin-top: 10vh;
    padding: 1.5vh 5vh 1.5vh 5vh;
    text-transform: uppercase;
}

#start a:hover{
    color: #312530 !important;
    opacity: 1;
    background-color: #a7883a ;
}

#novel{
    height: 100vh;
    background-color: #ebe2cd;
    background-image: url("../images/pattern6.png");
    background-size: 80vh;
    color: #494747;
    font-family: "Libre Baskerville";
    padding-top: 6vh;
}

.novel-header h1, .novel-header h5,.novel-header h3{
    font-weight: 700;
}

#novel-title{
    background: #ebe2cd;
    margin-top: 5vh;
    height: 85vh;
}

#novel-intro p{
    text-align: center;
    font-size: 2.2vh;
}

#novel-intro{
    padding: 4vh 10vh 10vh 10vh;
}

#hr-first, #hr-second, #hr-third{
    border: 1.5px solid #838282;
    opacity: 1;
    width:70%; 
    margin-left:15% !important;
    margin-right:15% !important;
}

#hr-second{
    margin-top: 5vh;
}

.novel-header{
    text-align: center;
    margin-top: 6vh;
}

#pj-sect a{
    font-size: 3.5vh;
    color: #494747 !important;
    opacity: 1;
    text-decoration: none;
    margin-top: 10vh;
    margin-left: 26vh;
    padding: 1.5vh 5vh 1.5vh 5vh;
    text-transform: uppercase;
    font-family: limelight;
}

#pj-sect a:hover{
    color: #faf4e5 !important;
    opacity: 1;

}


#second{
    height: 100vh;
}
#second-left{
    height: 100vh;
    padding: 10vh;
    background: url("../images/pattern3.png");
    background-size: 70vh;
    font-family: limelight;
    color: #312530;
    text-align: right;
}


#second-right{
    padding: 10vh;
    font-size: 4vh;
    font-family: "encode sans";
    background-image: url("../images/ny4.png");
    background-repeat: repeat-x;
    background-size: 82vh;
    background-position: bottom;
    color: #312530;

}

#second-left p{
    font-family: "encode sans";
    font-size: 3vh;
}

.article-title{
    font-family: limelight;
}

.sect-summary{
    font-size: 2.5vh;
    padding: 1vh;
}

#second ul p{
    color: #4A3E49;
}

#second ul a{
    text-decoration: none;
    color: #312530;
}

#second ul a:hover{
    color: #a7883a;
}

footer{
    background-color: #312530;
    color: white;
    padding-top: 3vh;
    text-align: center;
    font-family: "encode sans";
    color: #a7883a;
}

/*ARTICLES*/

code{
    color: black;
}

#article1{
    min-height: 100vh !important;
}

#article1 .art-header{
    margin-top: 15vh;
    padding: 0 6vh 3vh 6vh;
    text-align: center;
    font-family: limelight;
}

.art-header li{
    font-weight: 400;
    font-family: "encode sans";
    text-align: left;
    font-size: 2.5vh;
}

#article1 h1{
    color: #312530;
    text-transform: uppercase;
}

#article1 h2{
    color: #8e7f8c;
    font-family: "encode sans";
    font-weight: 600;
    font-size: 3.5vh;
    padding-bottom: 5vh;
    padding-top: 2vh;
}

#article1 h3, #article1 h4{
    color: #312530;
    text-align: left;
}

#article1 h5{
    text-align: left;
}

#abstract{
    padding: 3vh 6vh 0 6vh;
}

#article1 p{
    font-family: "encode sans";
    font-size: 2.5vh;
    text-align: justify;
}

#article1 #tei-download{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: #725370;
}


#article-left{
    padding-top: 15vh;
    background: url("../images/pattern3.png");
    background-size: 70vh;
}

#article-right{
    padding-top: 15vh;
    font-family: "encode sans";
    background: url("../images/pattern3.png");
    background-size: 70vh;
}

#article-right h3{
    font-weight: 600;
    text-align: center;
    font-family: limelight;
    color:white;
}

#article-right a{
    color: #312530;
}

#article-right li{
    font-size: 2vh;
    margin-left: 1vh;
}

#article-right li a:hover{
    color: white;
}

ul{
    list-style-type: disc;

}

ol li::marker{
    font-family: "encode sans";
    font-size: 2.5vh;
    font-weight: bold;

}

#article1 h3, #article1 h4{
    text-transform: uppercase;
}

#article1 h3{
    font-size: 3.5vh;
}

#article1 h4{
    padding-top: 3vh;
    font-size: 3vh;
}

.text-sep{
    padding: 5vh;
}

#list-item-1{
    padding: 2vh;
}

#list-example{
    border-radius: 0%;
}


.list-group-item{
    border: none;
    font-size: 2.5vh;
    background-color:transparent;
    color: white;
    font-family: limelight;
    padding:0.5vh;
}

.list-secondary{
    font-size: 2vh;
    margin-right: 0;
    padding-right: 0;
}

.list-group-item-action:focus, .list-group-item-action:hover, .list-group-item.active {
    color: #312530;
    background-color: transparent;
}

.subtitle-5{
    padding-top: 5vh;
}

.example-code{
    margin: 4vh;
    background-color: #c8b9c6;
    padding: 3vh 3vh 3vh 3vh;
    margin-right: 30vh;
    line-height: 1.8vh;

}

.example-code code{
    color: #312530;
    font-size: 1.8vh;
}

#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    display: none;
    background-color: #312530;
    border: none;
}

#btn-back-to-top i {
    color: white;
}

#btn-back-to-top:hover {
    background-color: #8e7f8c;
}

.btn-check:active+.btn-danger:focus, .btn-check:checked+.btn-danger:focus, .btn-danger.active:focus, .btn-danger:active:focus, .show>.btn-danger.dropdown-toggle:focus,.btn-check:focus + .btn-danger, .btn-danger:focus  {
    box-shadow: 0 0 0 0.25rem rgb(142,127,140, 0.5);
}

button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  button.back-to-top:hover,
  button.back-to-top:active,
  button.back-to-top:focus {
    outline: 0 !important;
  }
  button.back-to-top::before {
    content: "\f077";
    font-family: "FontAwesome";
    display: block;
    vertical-align: middle;
    margin: -5px 0 auto;
  }
  button.back-to-top.show {
    display: block;
    background: #fff;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  }
  button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
  }
  